
<div class="row">
  <div class="input-field col s6">
    <%= f.hidden_field :id,id: 'user_id' %>
    <%= text_field_tag :empleado,params[:empleado], id: 'empleado', class: 'object-tag-input validate' %>
    <%= f.hidden_field :empleado_id,id: 'empleado_id' %>
  </div>
    <div class="input-field col s6">
       <%= f.text_field :username, autofocus: true, autocomplete: "Usuario", maxlength:'15',validate: { uniqueness: true },class: 'validate'  %>
       <%= f.label 'Usuario' %>
    </div>

 </div>
 <div class="row">
   <div class="input-field col s6">
       <%= f.password_field :password,autofocus: true, autocomplete: "Contrase単a", maxlength:'15',class: 'validate' %>
       <%= f.label 'Contrase単a' %>
   </div>
     <div class="input-field col s6">
       <%=f.password_field :password_confirmation,autofocus: true, autocomplete: "Confirmar Contrase単a", maxlength:'15',class: 'validate'%>
       <%= f.label 'Confirmar Contrase単a' %>
     </div>
 </div>
  <div class="row">
      <div class="input-field col s12">
         <%= f.submit "Guardar " ,class: 'btn cyan waves-effect waves-light right'  %>
         <%= f.button :button, 'Cancelar', type: :reset, class: 'btn grey right' %>
       </div>
  </div>
