  <div id="table-datatables">
     <h4 class="header">Lista de Usuarios</h4>
       <div class="row">
            <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                <thead>
                    <tr>
                       <th  style="display: none;"> </th>
                       <th>Nombre </th>
                       <th>Apellido</th>
                       <th>Usuario</th>
                       <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                   <% @users.each do |user| %>
                      <tr>
                        <td style="display: none;"><%= user.id %></td>
                        <td><%= user.empleado.nombre %></td>
                        <td><%= user.empleado.apellido %></td>
                        <td><%= user.username %></td>
                        <td><i class="mdi-content-create prefix" title="editar"></i><%= link_to "Editar", edit_user_path(user) %> &nbsp &nbsp &nbsp
                            <i class="mdi-action-delete prefix" title="borrar"></i><%= link_to "Eliminar", destroy_user_path(user), :method => :delete, data: { confirm:"Desea Eliminar el Usuario "+user.username}  %></td>
                      </tr>
                   <% end %>
                </tbody>
            </table>
      </div>
  </div>
