<div class="row">
    <div class="input-field col s6">
        <%= f.file_field :logo_path,class: 'file-path validate'  %>
        <%= f.label 'Logo' %>
    </div>
    <div class="input-field col s6">
        <%= f.text_field :nombre_empresa, autofocus: true, maxlength:'50',class: 'validate'  %>
        <%= f.label 'Empresa' %>
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
       <%= f.text_field :nombre_fantasia, autofocus: true, maxlength: '50' %>
       <%= f.label 'Nombre Fantasia' %>
    </div>
    <div class="input-field col s6">
        <%= f.date_field :ruc,autofocus: true, maxlength: '11' %>
        <%= f.label 'RUC' %>
    </div>
 </div>
 <div class="row">
   <div class="input-field col s6">  
       <%=f.text_area :direccion,autofocus: true, class: 'materialize-textarea', maxlength:'200'%>
       <%= f.label 'Dirección' %>
   </div>    
     <div class="input-field col s6">  
       <%=f.text_field :telefono,autofocus: true, maxlength:'20'%>
       <%= f.label 'Telefono' %>
     </div>
     
 </div>
  <div class="row">
     <div class="input-field col s6">  
       <%=f.text_field :telefono,autofocus: true, maxlength:'20'%>
       <%= f.label 'Telefono' %>
     </div>
     <div class="input-field col s4">      
       <%=f.select(:sexo,[ ['Masculino','M'], ['Femenino','F'] ],class: 'form-control',validate: true)%>
          <%= f.label 'Sexo' %>
     </div>
 </div>
  <div class="row">
      <div class="input-field col s12">
         <%= f.submit "Guardar " ,class: 'btn cyan waves-effect waves-light right'  %>
         <%= f.button :button, 'Cancelar', type: :reset, class: 'btn grey right' %>
       </div>
  </div>