<div class="row">
    <div class="file-field input-field col s6 m3 l6">
         <div class="waves-effect waves-light btn blue col s3">
            <span>Logo</span>
             <%= f.file_field :logo_path  %>
         </div>
         <div class="file-path-wrapper">
            <%= f.text_field :logo_path,class: 'file-path validate'  %>
         </div>
    </div>
    <div class="input-field col s6">
        <%= f.text_field :nombre_empresa, autofocus: true, maxlength:'50',class: 'validate'  %>
        <%= f.label 'Empresa' %>
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
       <%= f.text_field :nombre_fantasia, autofocus: true, maxlength: '50' %>
       <%= f.label 'Nombre Fantasia' %>
    </div>
    <div class="input-field col s6">
        <%= f.text_field :ruc,autofocus: true, maxlength: '11' %>
        <%= f.label 'RUC' %>
    </div>
 </div>
 <div class="row">
   <div class="input-field col s6">  
       <%=f.text_area :direccion,autofocus: true, class: 'materialize-textarea', maxlength:'200'%>
       <%= f.label 'Dirección' %>
   </div>    
     <div class="input-field col s6">  
       <%=f.text_field :telefono,autofocus: true, maxlength:'20'%>
       <%= f.label 'Telefono' %>
     </div>
     
 </div>
  <div class="row">
    <div class="input-select col s3">  
      <%= f.label 'Timbrado' %>
      <select  name='configuracion[timbrado_id]' onChange='timbradoChange(this);' >
        <% @stamps.each do |stamp| %>
            <option value= <%= stamp.id%> > <%= stamp.timbrado%> </option>
        <% end %> 
      </select>
    </div>  
      <div class="input-field col s5">
          <%= link_to '<i class="mdi-action-visibility prefix "></i>'.html_safe,timbrado_show_path(@configuracion.timbrado), id: 'timbrado_show',title: 'Ver','data-activates': 'timbrado_data',class: 'cyan-text col s8 dropdown-button',remote: true %>
          <div class="row">
             <ul id="timbrado_data" class="dropdown-content"> 
            </ul> 
          </div>
      </div>
    </div>
    <div class="row" id="timbrado_data"></div>
 </div>
  <div class="row">
      <div class="input-field col s12">
         <%= f.submit "Guardar " ,class: 'btn cyan waves-effect waves-light right'  %>
         <%= f.button :button, 'Cancelar', type: :reset, class: 'btn grey right' %>
       </div>
  </div>