  <div id="table-datatables">
     <h4 class="header">Lista de Clientes</h4>
       <div class="row">
          <div class="col s12 m8 l12">
            <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                <thead>
                    <tr>
                       <th>Nombre </th>
                       <th>Apellido</th>
                       <th>Nro. Documento</th>
                       <th>Fecha de Nac.</th>
                       <th>Nacionalidad</th>
                       <th>Dirección</th>
                       <th>Telefono</th>
                       <th>Sexo</th>
                       <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                   <% @customers.each do |customer| %> 
                      <tr>
                        <td><%= customer.first_name %></td>
                        <td><%= customer.last_name %></td>
                        <td><%= customer.doc_number %></td>
                        <td><%= customer.birthdate %></td>
                        <td><%= customer.nationality %></td>
                        <td><%= customer.address %></td>
                        <td><%= customer.phone %></td>
                        <td><%= customer.sexo %></td>
                        <td><i class="mdi-content-create prefix" title="editar"></i><%= link_to "Editar", edit_customer_path(customer) %> &nbsp &nbsp &nbsp   
                            <i class="mdi-action-delete prefix" title="borrar"></i><%= link_to "Eliminar", destroy_customer_path(customer), :method => :delete, data: { confirm:"Desea Eliminar el Cliente "+customer.first_name+''+customer.last_name}  %></td>
                      </tr>
                   <% end %>   
                </tbody> 
            </table>    
        </div>
      </div>         
  </div>  
 