<div class="row">
    <div class="input-field col s6">
        <%= f.text_field :first_name, autofocus: true, autocomplete: "Nombre",maxlength:'25',class: 'validate'  %>
        <%= f.label 'Nombre' %>
    </div>
    <div class="input-field col s6">
        <%= f.text_field :last_name, autofocus: true, autocomplete: "Apellido", maxlength:'25',class: 'validate'  %>
        <%= f.label 'Apellido' %>
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
       <%= f.text_field :username, autofocus: true, autocomplete: "Usuario", maxlength:'15',class: 'validate'  %>
       <%= f.label 'Usuario' %>
    </div>
    <div class="input-field col s6">
        <%= f.password_field :password,autofocus: true, autocomplete: "Contraseña", maxlength:'15',class: 'validate' %>
        <%= f.label 'Contraseña' %>
    </div>
 </div>
                    <div class="row">
                      <div class="input-field col s6">
                        <select>
                          <option value="" disabled selected>Choose your profile</option>
                          <option value="1">Manager</option>
                          <option value="2">Developer</option>
                          <option value="3">Business</option>
                        </select>
                        <label>Select Profile</label>
                      </div>                        
                      <div class="input-field col s6">
                        <input type="date" class="datepicker">
                        <label for="dob">DOB</label>
                      </div>
                      
                    </div>
                    
                    <div class="row">
                      <div class="file-field input-field col s6">
                        <input class="file-path validate" type="text"/>
                        <div class="btn">
                          <span>Age</span>
                          <input type="file" />
                        </div>
                      </div>
                      <div class="input-field col s6">                          
                         <span>Image</span>
                         <p class="range-field">
                          <input type="range" id="test5" min="0" max="100" />
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <textarea id="message5" class="materialize-textarea" length="120"></textarea>
                        <label for="message">Message</label>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                            <i class="mdi-content-send right"></i>
                          </button>
                        </div>
                      </div>
                    </div>