<div class="row">
  <div class="col s12">
        <div class="input-field col s3 offset-s1">
          <%= f.hidden_field :id,id: 'detalle_factura_venta_id'%>
          <%= f.text_field :medicamento,id: 'medicamento',maxlength:'35',class: 'validate'  %>
          <%= f.label 'Medicamento' %>
        </div>
        <div class="input-field col s1 offset-s1">
          <%= f.text_field :cantidad, id: 'cantidad',class: 'validate', maxlength:'3'%>
          <%= f.label 'Cantidad' %>
        </div>
        <div class="input-field col s1 offset-s1">
            <%= text_field_tag(:iva,params[:iva], id: 'iva',class:'validate',disabled: true) %>
            <%= f.label 'Iva' %>
        </div>
        <div class="input-field col s2">
          <%= f.submit "Agregar" ,class: 'btn cyan waves-effect waves-light col s10'  %>
        </div>
        <div class="input-field col s2">
          <%= f.button :button, 'Cancelar', type: :reset, class: 'btn grey waves-effect waves-light col s10' %>
        </div>
  </div>
</div>
