  <div id="table-datatables">
       <div class="row">
          <div class="col s12">
            <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                <thead>
                    <tr>
                       <th>Nombre </th>
                       <th>Apellido</th>
                       <th>Nro. Documento</th>
                       <th>Fecha de Nac.</th>
                       <th>Nacionalidad</th>
                       <th>Dirección</th>
                       <th>Telefono</th>
                       <th>Sexo</th>
                       <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                   <% @clientes.each do |cliente| %>
                      <tr>
                        <td><%= cliente.nombre %></td>
                        <td><%= cliente.apellido %></td>
                        <td><%= cliente.nro_documento %></td>
                        <td><%= cliente.nacimiento %></td>
                        <td><%= cliente.nacionalidad %></td>
                        <td><%= cliente.direccion %></td>
                        <td><%= cliente.telefono %></td>
                        <td><%= cliente.sexo %></td>
                        <td><i class="mdi-content-create prefix" title="editar"></i><%= link_to "Editar", edit_cliente_path(cliente) %> &nbsp &nbsp &nbsp
                            <i class="mdi-action-delete prefix" title="borrar"></i><%= link_to "Eliminar", destroy_cliente_path(cliente), :method => :delete, data: { confirm:"Desea Eliminar el Cliente "+cliente.nombre+''+cliente.apellido}  %></td>
                      </tr>
                   <% end %>
                </tbody>
            </table>
        </div>
      </div>
  </div>
