<body class="cyan">
  <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>

  <div id="login-page" class="row">
    <div class="col s4 z-depth-4 card-panel offset-s2">
      <div id="card-alert" class="card red" style="display:none;">
           <div class="card-content white-text">
              <p><i class="mdi-alert-error"></i> Error : <span id="notice"></span> </p>
           </div>
          <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">×</span>
          </button>
       </div>
        <%= form_tag sign_in_user_path, id:'login-form',html: { class: 'login-for formValidate'},remote: true do %>
        <div class="row">
          <div class="input-field col s12 center">
            <%= image_tag('/images/user_avatar.png', class: "circle responsive-img valign profile-image-login") %>
            <p class="center login-form-text">    LOGIN DE USUARIO     </p>
          </div>
       
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
              <%= text_field_tag :username,nil,class: 'validate','data-error'=>'.errorTxt3', autofocus: true, autocomplete: "username"  %>
               <%= label_tag 'Usuario',nil,class: 'center-align' %>
               <div class="errorTxt3"></div>
               <br />
          </div>
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
                <%= password_field_tag :password, autocomplete: "off"%>
                <%= label_tag 'Contraseña' %><br />

          </div>       
          <div class="input-field col s12 m12 l12  login-text">
              <%= check_box_tag :remember_me, id: 'remember-me' %>
              <%= label_tag 'Recordar',nil,for: 'remember-me' %>
        </div>
          <div class="input-field col s12">
             <%= submit_tag "Ingresar", class: "btn waves-effect waves-light col s4 offset-s4",name:'action' %>
          </div>
        </div>

     <% end %>
    </div>
  </div>

</body>
