<div class="row">
  <%= f.hidden_field :id,id: 'factura_id'%>
  <div class="input-field col s2 offset-s1">
      <%= f.date_field  :fecha,maxlength:'10',class: 'validate',disabled: true  %>
      <%= f.label 'Fecha' %>
  </div>
  <div class="input-field col s4 offset-s1">
      <%=f.hidden_field :empleado_id%>
      <%= f.text_field :nomb_empleado, class: 'validate',disabled: true  %>
      <%= f.label 'Empleado' %>
  </div>
  <div class="input-field col s2 offset-s1">
      <%=f.hidden_field :timbrado_id%>
      <%= f.text_field :nro_factura, class: 'validate',disabled: true  %>
      <%= f.label 'Nro Factura' %>
  </div>
</div>
  <div class="row">
      <div class="input-field col s12">
         <%= f.submit "Guardar " ,class: 'btn cyan waves-effect waves-light right'  %>
         <%= f.button :button, 'Cancelar', type: :reset, class: 'btn grey right' %>
       </div>
  </div>
