
 <% @total_exenta=DetalleFacturaVentaTmp.count()>0?DetalleFacturaVentaTmp.sum(:exenta):0.00
    @total_iva5=DetalleFacturaVentaTmp.count()>0?DetalleFacturaVentaTmp.sum(:iva5):0.00
    @total_iva10=DetalleFacturaVentaTmp.count()>0?DetalleFacturaVentaTmp.sum(:iva10):0.00
    @total=DetalleFacturaVentaTmp.count()>0?DetalleFacturaVentaTmp.sum(:subtotal):0.00
 %>
<div class="row">
    <div class="input-field col s2">
        <%= text_field_tag :total_exentas,params[:total_exentas],maxlength:'12',class: 'validate',disabled: true,value: @total_exenta %>
        <%= label_tag 'Total Exenta' %>
    </div>
    <div class="input-field col s2 offset-s1">
        <%= text_field_tag :total_iva5,params[:total_iva5],maxlength:'12',class: 'validate',disabled: true,value: @total_iva5 %>
        <%= label_tag 'Total Iva 5' %>
    </div>
    <div class="input-field col s2 offset-s1">
        <%= text_field_tag :total_iva10,params[:total_iva10],maxlength:'12',class: 'validate',disabled: true,value: @total_iva10 %>
        <%= label_tag 'Total Iva 10' %>
    </div>
    <div class="input-field col s2 offset-s1">
        <%= text_field_tag :total,params[:total],maxlength:'12',class: 'validate',disabled: true,value: @total %>
        <%= label_tag 'Total' %>
    </div>
</div>
